body{
    background: none;
    background-color: #FF8000;
    header{
        position: relative;
        border-color: magenta;
        outline: 0.4vh solid black;
        nav{
            .tetrahedron{
                div{
                    background-color: #0101FF;
                }
            }
        }
        .title{
            border-color: cyan;
        }
    }
    main{
        .row:nth-of-type(1){
            height: 82.2vh;
            div{
                height: 100%;
                img{
                    @media screen and (orientation:landscape) {
                        height: 75%;
                    }
                    @media screen and (orientation:portrait) {
                        height: 70%;
                    }
                    border: 2.17vh double magenta;
                    margin-top: 3vh;
                    box-shadow: none;
                }
                h2{
                    font-size: 4.5vmin;
                    margin-top: 1vh;
                    span{
                        background-color: black;
                        border: 1vh double white;
                    }
                }
            }
        }
        .row{
            width: 85%;
            height: fit-content;
            margin: {
                right: 7.5%;
                left: 7.5%;
            }
            flex-direction: column;
            justify-content: unset;
            box-sizing: border-box;
            background-color: cyan;
            border: {
                right: 1vw double black;
                left: 1vw double black;
            }
            h1{
                color: black;
                font-size: 7.1vmin;
                text-decoration: underline;
            }
            .mainText{
                width: 100%;
                margin-top: 1.4vh;    
                margin: {
                    top: 1vh;
                    bottom: 1vh;
                }
                box-sizing: border-box;
                p{
                    color: black;
                    font-size: 4vmin;
                }
            }
        }
        hr{
            background-color: magenta;
        }
    }
    footer{
        border-color: blue;
    }
}