body{
    background: none;
    background-color: cyan;
    header{
        position: relative;
        border-color: blue;
        outline: 0.4vh solid black;
        nav{
            background-color: none;
            .tetrahedron{
                div{
                    background-color: magenta;
                }
            }
        }
        .title{
            border-color: #B200FF;
        }
        #inverter{
            top: 12.2vh;
            right: 0;
        }
    }
    main{
        width: 85%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #B200FF;
        margin: {
            right: 7.5%;
            left: 7.5%;
        }
        h2{
            font-size: 4.5vmin;
            text-decoration: underline;
            margin-top: 1vh;
            color: black
        }
        #galleryView{
            @media screen and (orientation:landscape) {
                width: 60vw;
                #next{
                    right: 20vw;
                }
            }
            @media screen and (orientation:portrait) {
                width: 100vw;
                #next{
                    right: 1vh;
                }
            }
            box-sizing: border-box;
            border: 1vh double magenta;
            button{
                width: 13%;
                background-color: black;
                opacity: 0.5;
                color: white;
                position: absolute;
                font-size: 3vw;
            }
            img{
                width: 100%;
                height: 100%;
                *{
                    font-size: 0.1vw;
                }
            }
        }
        .mainText{
            width: 85%;
            height: fit-content;
            margin: {
                top: 1.4vh;
                right: auto; 
                left: auto;
            }
            box-sizing: border-box;
            p{
                text-align: center;
                color: black;
                font-size: 4vmin;
            }
        }
    }
    footer{
        border-color: lime;
    }
}