@use 'sass:math';
$fullWidth: 100%;
$headerHeight: 18.3vh;
$panelWidth: $headerHeight / 4.3 * 4;
$panelHeight: $panelWidth * math.sin(60deg);
$titleFontSize: 58px;
$mainTextFontSize: 50px;
$mainTextLineHeight: 57px;
@mixin flexRow {
    display: flex;
    flex-direction: row;
}
*{
    margin: 0;
    color: white;
    text-align: center;
    body{
        background: linear-gradient(to right, darkviolet, blue, darkviolet);
        header{
            background-color: black;
            width: $fullWidth;
            min-height: $headerHeight;
            @include flexRow();
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            border: 1.15vh double cyan;
            nav{
                width: $panelWidth;
                height: $panelHeight;
                $panelTranslateZ: -1 * math.tan(30deg) * $panelWidth / 2;
                $panelRotateX: math.acos(math.tan(30deg) / 2 / (math.tan(60deg) / 2)) - 90;
                position: fixed;
                top: 0;
                left: 0;
                $navMargin: ($headerHeight - $panelHeight) / 2;
                margin: {
                    top: $navMargin / 1.3;
                    left: $navMargin * 2;
                }
                //transform-origin: center;
                transform-style: preserve-3d;
                animation: spin 18s infinite linear;
                :nth-child(odd):not(div *){
                    background-color: blue;
                }
                :nth-child(even):not(div *){
                    background-color: salmon;
                }
                div{
                    width: $panelWidth;
                    height: $panelHeight;
                    clip-path: polygon(50% 0, 100% 100%, 0 100%);
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    backface-visibility: hidden;
                    *{
                        background-color: transparent;
                    }
                    h2{
                        margin-top: 2em;
                    }
                }
                .div1B{
                    transform-origin: bottom;
                    transform: translateZ($panelTranslateZ) rotateX($panelRotateX);
                }
                .div1F{
                    transform-origin: bottom;
                    transform: translateZ($panelTranslateZ) rotateY(180deg) rotateX(-$panelRotateX);
                }
                .div2B{
                    transform-origin: bottom left;
                    transform: translateZ($panelTranslateZ) rotateY(-60deg) rotateX(-$panelRotateX);
                }
                .div2F{
                    transform-origin: bottom left;
                    transform: translateZ($panelTranslateZ) rotateY(300deg) rotateX(-$panelRotateX);
                }
                .div3B{
                    transform-origin: bottom right;
                    transform: translateZ($panelTranslateZ) rotateY(-300deg) rotateX(-$panelRotateX);
                }
                .div3F{
                    transform-origin: bottom right;
                    transform: translateZ($panelTranslateZ) rotateY(60deg) rotateX(-$panelRotateX);
                }
                .div4B{
                    transform-origin: bottom;
                    transform: translateZ($panelTranslateZ) rotateY(180deg) rotateX(90deg);
                }
                .div4F{
                    transform-origin: bottom;
                    transform: translateZ($panelTranslateZ) rotateX(-90deg);
                }
                @keyframes spin{
                    0% {transform: rotateX(0deg) rotatey(180deg) rotateZ(0deg)}
                    100% {transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg)}
                }
            }
            h1.title{
                font-size: $titleFontSize;
                text-decoration: underline 0.3vh;
                padding: {
                    right: $titleFontSize;
                    left: $titleFontSize;
                }
                margin: {
                    top: $headerHeight / 13;
                    bottom: $headerHeight / 13;
                }
                border: 1.3vh solid lime;
                border-radius: $titleFontSize * 1.5;
            }
        }
        main{//1070w
            width: $fullWidth;
            .row{
                width: $fullWidth;
                height: calc(100vh - 13rem);
                @include flexRow();
                align-items: center;
                justify-content: space-evenly;
                .mainText{
                    font-size: $mainTextFontSize;
                    line-height: $mainTextLineHeight;
                    width: fit-content;
                    height: fit-content;
                    max-width: 45%;
                    box-sizing: border-box;
                    background-color: black;
                    border: 1.15vh double fuchsia;
                }
                #image1{
                    max-width: 50%;
                    max-height: 95%;
                    margin: auto 0 auto;
                    box-sizing: border-box;
                    border: 1.15vh double lime;
                    border-radius: 16% 16% 12% 12%;
                }
                #image2{
                    height: 75%;
                    margin: auto 0 auto;
                    box-sizing: border-box;
                    border: 1.15vh double lime;
                    border-radius: 16% 16% 12% 12%;
                }
            }
        }
        footer{
            background-color: darkblue;
            width: $fullWidth;
            height: fit-content;
            font-size: 2.3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
            border: 1.15vh double lime;
        }
    }
}
/*
@import 'partials/nav1';
@media (orientation: landscape) {
    @import 'partials/nav2';
}
nav{
    img{
        height: auto;
    }
}
footer{
    background-color: blue;
    color: white;
}*/
/*
Resources for animation test:

#div1{
    background-color: red;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
}
#div2{
    background-color: blue;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0;
}
#p1{
    z-index: 1;
}
#p-place{
    margin: 0;
    visibility: hidden;
}*/