*{
    margin: 0;
    color: white;
    text-align: center;
}
header{
    background-color: black;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    border: 1.15vh double lime;
    nav{
        background-color: gray;
        position: fixed;
        top: 0;
        left: 0;
        .panel1{
            border: {
                right: 50px solid transparent; 
                left: 50px solid transparent; 
                bottom: 86.60254px solid salmon;
            }
        }
        .backPanel{
            background-color: blue;
            transform: rotateY(180deg);
        }
        .frontPanel{
            background-color: green;
        }
    }
    h1{
        font-size: 46.3px;
        text-decoration: underline 2px;
    }
}
main{
    background-color: blue;
    width: 100vw;
    display: flex;
    justify-content: center;
    /*
    aside{
        background-color: black;
        width: 12.5%;
        position: fixed;
        left: 0;
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }*/
    #mainImage{
        height: 95%;
        margin: auto 0 auto;
    }
}
/*
@import 'partials/nav1';
@media (orientation: landscape) {
    @import 'partials/nav2';
}
nav{
    img{
        height: auto;
    }
}
footer{
    background-color: blue;
    color: white;
}*/
/*
Resources for animation test:

#div1{
    background-color: red;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
}
#div2{
    background-color: blue;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0;
}
#p1{
    z-index: 1;
}
#p-place{
    margin: 0;
    visibility: hidden;
}*/