@font-face {
  font-family: Retro;
  src: url(../fonts/SFAlienEncounters.ttf);
}
/*@media screen and (orientation:landscape) {
    @media screen and (min-width: 1920px) {
        html{
            font-size: 16px;
        }
    }
    @media screen and (max-width: 1919px) {
        html{
            font-size: 15px;
        }
    }
    @media screen and (max-width: 1328px) {
        html{
            font-size: 14px;
        }
    }
}
@media screen and (orientation:portrait) {
    @media screen and (max-height: 1366px) {
        html{
            font-size: 19px;
        }
    }
    @media screen and (max-height: 1366px) {
        html{
            font-size: 19px;
        }
    }
}*/
* {
  margin: 0;
  color: white;
  text-align: center;
  font-family: Retro;
}
* body {
  background: linear-gradient(to right, darkviolet, blue, darkviolet);
}
* body header {
  background-color: black;
  width: 100%;
  min-height: 17.8vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1.15vh double cyan;
}
* body header nav {
  width: 15.4029204976vh;
  height: 16.5581395349vh;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0.6303397783vh;
  margin-left: 2.2303397783vh;
}
* body header nav .tetrahedron {
  width: 15.4029204976vh;
  height: 13.3393204434vh;
  transform-style: preserve-3d;
}
* body header nav .tetrahedron div {
  width: 15.4029204976vh;
  height: 13.3393204434vh;
  background-color: salmon;
  -webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%);
          clip-path: polygon(50% 0, 100% 100%, 0 100%);
  position: absolute;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
* body header nav .tetrahedron div * {
  font-size: 2vh;
  background-color: transparent;
}
* body header nav .tetrahedron div a {
  margin-top: 25%;
}
* body header nav .tetrahedron .div1 {
  transform-origin: bottom;
  transform: translateZ(-4.4464401478vh) rotateX(-19.4712206345deg);
}
* body header nav .tetrahedron .div2 {
  transform-origin: bottom;
  transform: rotateY(-120deg) translateZ(-4.4464401478vh) rotateX(-19.4712206345deg);
}
* body header nav .tetrahedron .div3 {
  transform-origin: bottom;
  transform: rotateY(120deg) translateZ(-4.4464401478vh) rotateX(-19.4712206345deg);
}
@-webkit-keyframes spin1 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(120deg);
  }
}
@keyframes spin1 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(120deg);
  }
}
@-webkit-keyframes spin2 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-120deg);
  }
}
@keyframes spin2 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-120deg);
  }
}
@-webkit-keyframes spin3 {
  0% {
    transform: rotateY(120deg);
  }
  100% {
    transform: rotateY(240deg);
  }
}
@keyframes spin3 {
  0% {
    transform: rotateY(120deg);
  }
  100% {
    transform: rotateY(240deg);
  }
}
@-webkit-keyframes spin4 {
  0% {
    transform: rotateY(120deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes spin4 {
  0% {
    transform: rotateY(120deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes spin5 {
  0% {
    transform: rotateY(240deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes spin5 {
  0% {
    transform: rotateY(240deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes spin6 {
  0% {
    transform: rotateY(240deg);
  }
  100% {
    transform: rotateY(120deg);
  }
}
@keyframes spin6 {
  0% {
    transform: rotateY(240deg);
  }
  100% {
    transform: rotateY(120deg);
  }
}
* body header nav .dotDiv {
  width: 15.4029204976vh;
  height: 2.8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
* body header nav .dotDiv .dot {
  cursor: pointer;
  height: 1.9vh;
  width: 1.9vh;
  background-color: #ffffff;
  margin-right: 0.95vh;
  margin-left: 0.95vh;
  border-radius: 100%;
  transition: background-color 0.6s ease;
}
* body header nav .dotDiv .active {
  background-color: #616161;
}
* body header .title {
  -webkit-text-decoration: underline 0.3vh;
          text-decoration: underline 0.3vh;
  border: 1.2vh solid lime;
  background-color: black;
  border-radius: 11vh;
  padding-left: 2.4%;
  padding-right: 2.4%;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
* body header #inverter {
  background-color: black;
  border-color: white;
  font-size: 3vh;
  position: absolute;
  top: 13.2vh;
  right: 1.15vh;
}
* body main {
  width: 100%;
}
* body main .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (orientation: landscape) {
  * body main .row {
    height: 82.2vh;
  }
}
@media screen and (orientation: portrait) {
  * body main .row {
    height: 164.4vh;
  }
}
* body main .row .textBox {
  overflow-y: auto;
  box-sizing: border-box;
  background-color: black;
  border: 1.15vh double fuchsia;
  box-shadow: rgba(240, 46, 170, 0.4) -0.5vmin 0.5vmin, rgba(240, 46, 170, 0.3) -1vmin 1vmin, rgba(240, 46, 170, 0.2) -1.5vmin 1.5vmin, rgba(240, 46, 170, 0.1) -2vmin 2vmin, rgba(240, 46, 170, 0.05) -2.5vmin 2.5vmin;
}
@media screen and (orientation: landscape) {
  * body main .row .textBox {
    width: 45%;
    height: 95%;
  }
}
@media screen and (orientation: portrait) {
  * body main .row .textBox {
    width: 84%;
    height: 45%;
  }
}
* body main .row .textBox p {
  margin-right: 0.5vw;
  margin-left: 0.5vw;
}
* body main .row img {
  box-shadow: rgba(0, 240, 0, 0.4) -0.5vmin 0.5vmin, rgba(0, 240, 0, 0.3) -1vmin 1vmin, rgba(0, 240, 0, 0.2) -1.5vmin 1.5vmin, rgba(0, 240, 0, 0.1) -2vmin 2vmin, rgba(0, 240, 0, 0.05) -2.5vmin 2.5vmin;
}
* body main .row #image1 {
  box-sizing: border-box;
  border: 1.15vh double lime;
  border-radius: 16% 16% 12% 12%;
}
@media screen and (orientation: landscape) {
  * body main .row #image1 {
    height: 95%;
  }
}
@media screen and (orientation: portrait) {
  * body main .row #image1 {
    width: 75%;
  }
}
* body main .row #image2 {
  box-sizing: border-box;
  border: 1.15vh double lime;
  border-radius: 16% 16% 12% 12%;
}
@media screen and (orientation: landscape) {
  * body main .row #image2 {
    width: 45%;
  }
}
@media screen and (orientation: portrait) {
  * body main .row #image2 {
    width: 95%;
  }
}
* body main hr {
  padding-top: 2px;
  background-color: cyan;
  border: none;
}
* body footer {
  background-color: black;
  width: 100%;
  min-height: 11.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border: 1.15vh double gold;
}/*# sourceMappingURL=index.css.map */