body{
    background: none;
    background-color: blue;
    header{
        position: relative;
        border-color: red;
        outline: 0.4vh solid black;
        nav{
            .tetrahedron{
                div{
                    background-color: yellow;
                    *{
                        color: black;
                    }
                }
            }
        }
        .title{
            border-color: lime;
        }
    }
    main{
        .row{
            width: 85%;
            height: fit-content;
            margin: {
                right: 7.5%;
                left: 7.5%;
            }
            flex-direction: column;
            justify-content: unset;
            box-sizing: border-box;
            background-color: lime;
            border: {
                right: 1vw double black;
                left: 1vw double black;
            }
            h2{
                color: black;
                font-size: 4.5vmin;
                text-decoration: underline;
            }
            .mainText:first-of-type{
                p{
                    text-align: center;
                }   
            }
            .mainText{
                width: 100%;
                margin-top: 1vh;
                box-sizing: border-box;
                p{
                    text-align: start;
                    color: black;
                    font-size: 4vmin;
                }
            }
        }
    }
    footer{
        border-color: magenta;
    }
}