nav{
    position: absolute;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    border: 8px solid black;
    width: 175px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    display: fixed;
    text-align: center;
    img{
        max-width: 75%;
    }
    #links{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        justify-items: space-evenly;
        margin-bottom: 10px;
        a{
            margin-bottom: 18px;
            padding-top: 15px;
            width: 63%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border-top: 2px solid black;
            box-sizing: border-box;
            text-decoration: underline;
        }
        #last-link{
            padding-bottom: 15px;
            border-bottom: 2px solid black;
        }
    }
}
@media screen and (max-width: 1099px){
    nav{
        width: 150px;
    }  
}
@media screen and (max-width: 934px){
    nav{
        width: 130px;
    }  
}
@media screen and (max-width: 764px){
    nav{
        width: 120px;
    }  
}
@media screen and (max-width: 585px){
    nav{
        width: 100vw;
        height: fit-content;
        flex-direction: row;
        img{
            max-width: 26.5%;
        }
        div{
            margin-left: 16px;
        }
        #links{
            flex-direction: row;
            width: max-content;
            a{
                border-top: none;
                padding: {
                    right: 5%;
                    bottom: 15px;
                    left: 5%;
                }
                justify-content: space-evenly;
                border: {
                    right: 2px solid black;
                }
            }
            #last-link{
                border: {
                    right: none;
                    bottom: none;
                }
            }
        }
    }  
}